
/** Colors */
$blue:#2633EC;
$cyan-blue: #75C9F5;
$deep-blue: #0D1040;
$light-sky-blue: #ECF9FF;
$sky-blue: #D5F0FE;
$light-blue: #F1F1FC;

$deep-cyan-green: #13DBA4;
$cyan-green: #78F1D0;

$red: #FF4141;
$light-red: #FB9B9B;

$yellow: #FCE12C;
$lite-yellow:#FFF9D1;
$light-yellow:#F9EA87;

$indigo:#7431FC;
$light-indigo:#BA98FF;

$bronze:#CC4C2B;
$light-bronze:#E28B75;

$gray:#E1E1E1;
$light-gray:#E1E1E1;
$lite-gray:#EBEBEB;
$mid-gray:#B7B7B7;
$dark-gray:#616161;
$deep-gray:#1C1C1C;
$component-gray: #FAFAFA;

$white: #FFFFFF;
$light-white: #F9F9F9;

$black: #000000;
$orange: #F6C337;
$cyan: #31E0FC;
$lemon: #CBCB34;
$purple: #8529EF;
$pink: #EF4DAE;
$brown: #B44820;
$body-bg: #000;
$body-color: #111;
$primary-color: #2633EC;
$light-cyan:#cefff2;


/** u */
$border-radius: 12px;
$small-font-size: .7rem;